@charset "utf-8";

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-size: inherit;
}
a {
  color: inherit;
  text-decoration: inherit;
}
img {
  vertical-align: middle;
}
a img {
  border: none;
}
li {
  list-style: none;
}
address,
em,
i {
  font-style: normal;
}
a:focus {
  outline: none;
}
button:focus {
  outline: none;
}

/* font */
@font-face {
  font-family: "Nohemi";
  src: url("../font/Nohemi-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Nohemi";
  src: url("../font/Nohemi-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "GangwonEducationSaeum";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduSaeeum_OTFMediumA.woff")
    format("woff");
  font-weight: normal;
  font-display: swap;
}

/* layout + 공통요소 */
html,
body {
  background: #fff;
}
body {
  font-family: "Geist", sans-serif;
  background: #336bec;
  font-size: 18px;
}
.title {
  font-size: 100px;
  line-height: 0.95;
  font-weight: 700;
  letter-spacing: -3px;
}
.subtitle {
  color: #9c9c9c;
  font-family: "Pretendard", sans-serif;
  font-family: 400;
}

/* HEADER */
header {
  padding-top: 50px;
}
.header-wrap {
  width: 40%;
  background: #000;
  color: #fff;
  margin: 0 auto;
  padding: 15px 110px 15px 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
}

.header-wrap .gnb {
  font-size: 28px;
  font-family:
    "Nohemi",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Apple SD Gothic Neo",
    "Noto Sans KR",
    sans-serif;
  font-weight: 700;
}

.header-wrap .lnb-wrap ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 36px;
  font-family:
    "Nohemi",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Apple SD Gothic Neo",
    "Noto Sans KR",
    sans-serif;
  font-weight: 400;
}

/* section.HERO */
.hero {
  background: #336bec;
  position: relative;
}

.hero .hero-textbox {
  text-align: center;
  margin-top: 130px;
  color: #fff;
  position: relative;
}

.hero .hero-textbox .subtext {
  font-family: "Pretendard", sans-serif;
  font-weight: 300;
  margin-bottom: 30px;
}

.hero .hero-textbox .hero-title {
  font-size: 133px;
  font-weight: 900;
  letter-spacing: 1px;
  line-height: 0.9;
}

.hero .hero-textbox .hero-title span {
  font-size: 180px;
}

.hero .hero-textbox .hero-deco {
  position: absolute;
}

.hero .hero-textbox .hero-deco.a {
  left: 31%;
  top: 40%;
}

.hero .hero-textbox .hero-deco.b {
  left: 45%;
  bottom: -2%;
}

.hero .hero-textbox .hero-deco.c {
  right: 23%;
  top: 49%;
}

.hero .hero-cloud {
  position: absolute;
}

.hero .hero-cloud.a {
  left: 11%;
  top: 0;
}

.hero .hero-cloud.b {
  left: 21%;
  top: -6%;
}

.hero .hero-cloud.c {
  right: 10%;
  top: 10%;
}

.hero .hero-char {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
  position: relative;
}

.hero .hero-char .hero-char-img {
  transform: rotate(22deg);
  margin-right: 150px;
  width: 30%;
}

.hero .hero-char .hero-char-arrow {
  position: absolute;
  right: 26%;
  top: 10px;
  width: 12%;
}

.hero .cloud-wrap {
  display: flex;
  justify-content: space-between;
}

.hero .cloud-wrap .hero-bg-cloud.a {
  position: absolute;
  left: 0;
  bottom: -30px;
  width: 40%;
}

.hero .cloud-wrap .hero-bg-cloud.b {
  position: absolute;
  right: 0;
  bottom: -30px;
  width: 40%;
}

.hero .cloud-wrap .scroll-down-btn {
  display: block;
  margin: 0 auto;
  font-size: 14px;
  font-family:
    "Nohemi",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Apple SD Gothic Neo",
    "Noto Sans KR",
    sans-serif;
  font-weight: 700;
  background: #fff;
  padding: 15px 36px;
  border-radius: 50px;
  margin-top: 80px;
  line-height: 1;
  margin-bottom: 260px;
}

/* section.STICKY */
.sticky-scene {
  position: relative;
  height: 600vh;
  background: #fff;
  padding-top: 60vh;
  padding-bottom: 20vh;
}

.sticky-scene .sticky-center {
  position: sticky;
  top: 45%;
  transform: translateY(-50%);
  z-index: 0;
  text-align: center;
  width: min(900px, 92%);
  margin: 0 auto;
}
.sticky-scene .sticky-center .badge {
  display: inline-block;
  transform: rotate(-17deg);
  margin-right: 280px;
}

.sticky-scene .sticky-center .desc {
  font-size: 24px;
  color: #9c9c9c;
  font-family: "Pretendard", sans-serif;
  font-weight: 300;
  margin-top: 36px;
}

.sticky-scene .sticky-center .desc span {
  font-weight: 500;
  color: #707070;
}

.sticky-scene .cards-layer {
  position: absolute;
  inset: 0;
  z-index: 1;
}

.sticky-scene .cards-layer .card {
  position: absolute;
  text-align: center;
  transform: translateY(260px) scale(0.94);
  opacity: 1;
  will-change: transform, opacity;
}

.sticky-scene .cards-layer .card .label {
  margin-top: 8px;
  font-size: 20px;
  text-align: right;
  font-weight: 400;
  margin-right: 4px;
}

.sticky-scene .cards-layer .card--tl {
  left: 15%;
  top: 8%;
}
.sticky-scene .cards-layer .card--tr {
  right: 15%;
  top: 28%;
}
.sticky-scene .cards-layer .card--bl {
  left: 15%;
  top: 48%;
}
.sticky-scene .cards-layer .card--br {
  right: 15%;
  top: 68%;
}

/* section.ABOUT-INTRO */
.about-scene {
  position: relative;
  background: #fff;
  height: 600vh;
  padding-bottom: 20vh;
}

.about-scene .about-sticky {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-scene .about-sticky .about-inner {
  width: 100%;
  padding: 0 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-scene .about-sticky .about-inner .about-left .about-badge {
  display: inline-block;
  transform: rotate(-17deg);
}

.about-scene .about-sticky .about-inner .about-left .about-illust {
  margin-top: 150px;
  width: 50%;
  display: block;
}

.about-scene .about-sticky .about-inner .about-right {
  flex: 1.2;
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
}

.about-scene .about-sticky .about-inner .about-right .about-quote {
  position: relative;
  font-size: 45px;
  line-height: 1.65;
  letter-spacing: -3px;
  text-align: right;
}

.about-scene .about-sticky .about-inner .about-right .about-quote .line {
  position: relative;
  display: inline-block;
}

.about-quote .base .kw,
.about-quote .base .rest {
  color: #b0b4bb;
  font-weight: 400;
}
.about-quote .base .kw {
  font-weight: 500;
}

.about-quote .fill {
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0%;
}

.about-quote .fill .rest {
  color: #111;
  font-weight: 400;
}
.about-quote .fill .kw {
  color: #336bec;
  font-weight: 500;
}

.about-quote .fill {
  transition: width 80ms linear;
}

.about-quote .semi-quote {
  font-family: "Geist", sans-serif !important;
  font-weight: 300;
}

.about-quote .kw .semi-quote,
.about-quote .fill .kw .semi-quote,
.about-quote .base .kw .semi-quote {
  font-family: "Geist", sans-serif !important;
}

/* section.PROVIDE */
.provide {
  background: #fff;
  padding-bottom: 150px;
}

.provide-inner {
  padding: 0 160px;
  margin: 0 auto;
}

.provide-head {
  margin-bottom: 64px;
}

.provide-head .badge {
  display: block;
  transform: rotate(-17deg);
  margin-bottom: 5px;
}

.provide-text-wrap {
  display: flex;
  justify-content: space-between;
}

.provide-text-wrap .title {
  margin-left: 10px;
}

.provide-text-wrap .subtitle {
  text-align: right;
  margin-top: auto;
}

.provide-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  overflow: hidden;
  padding-top: 80px;
}

.p-card {
  --baseY: 400px;
  --inY: 160px;

  transform: translateY(var(--baseY));
  transition: transform 520ms cubic-bezier(0.22, 1, 0.36, 1);
}

.provide-cards.cards-on .p-card {
  transform: translateY(var(--inY));
}

.provide-cards.cards-on .p-card:nth-child(1) {
  transition-delay: 120ms;
}
.provide-cards.cards-on .p-card:nth-child(2) {
  transition-delay: 240ms;
}
.provide-cards.cards-on .p-card:nth-child(3) {
  transition-delay: 360ms;
}

.p-card-inner {
  background: #336bec;
  border: 4px solid #111;
  border-radius: 20px;
  padding: 46px;
  min-height: 500px;
  color: #fff;

  transform: translateY(0);
  transition: transform 220ms ease;
}

.provide-cards.cards-on .p-card:hover .p-card-inner {
  transform: translateY(-140px);
}

.p-card-desc {
  position: absolute;
  left: 46px;
  right: 46px;
  bottom: 100px;

  opacity: 0;
  transform: translateY(24px);
  transition:
    opacity 300ms ease,
    transform 300ms ease;
}

.provide-cards.cards-on .p-card:hover .p-card-desc {
  opacity: 1;
  transform: translateY(0);
}

@keyframes provide-rise {
  from {
    transform: translateY(var(--baseY));
  }
  to {
    transform: translateY(var(--inY));
  }
}

.p-card-title {
  font-size: 36px;
  line-height: 1.3;
  font-weight: 500;
}

.p-card-desc {
  position: absolute;
  left: 46px;
  right: 46px;
  bottom: 90px;

  color: #092972;
  font-size: 18px;
  line-height: 1.3;
  font-weight: 400;

  opacity: 0;
  transform: translateY(24px);
  transition:
    opacity 300ms ease,
    transform 300ms ease;
}

/* section.BEHIND */
.behind {
  background: #fff;
  overflow: hidden;
}

.behind-viewport {
  height: 100vh;
  overflow: hidden;
  padding: 0;
  display: flex;
  align-items: center;
  background: #fff;
}

.behind-track {
  display: flex;
  align-items: center;
  gap: 300px;
  height: 100%;
  padding-left: 160px;
  padding-right: 160px;
}

.card-wrap {
  display: flex;
  gap: 50px;
}

.bh-intro {
  flex: 0 0 auto;
  height: 66%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bh-intro .badge {
  display: inline-block;
  transform: rotate(-17deg);
}

.bh-intro .title {
  margin-left: 8px;
}

.bh-intro .subtitle {
  margin-left: 8px;
}

.bh-panel {
  flex: 0 0 auto;
  width: 500px;
}

.bh-card {
  position: relative;
  width: 100%;
}

.bh-img {
  width: 100%;
  display: block;
}

.bh-meta {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 30px;
  width: 100%;
}
.bh-meta h3 {
  font-size: 36px;
  font-weight: 700;
}

.bh-meta-wrap {
  display: flex;
  justify-content: space-between;
}

.bh-meta p {
  margin-top: 4px;
  font-size: 18px;
  font-weight: 400;
  color: #5e5e5e;
  font-family: "Pretendard", sans-serif;
}

.bh-sticker {
  position: absolute;
  pointer-events: none;

  opacity: 0;
  transform: translateY(10px) scale(0.85) rotate(-10deg);
}

.bh-sticker.a {
  top: -93px;
  left: -107px;
  transform: rotate(0deg) !important;
}

.bh-sticker.b {
  bottom: 110px;
  left: -130px;
}

.bh-sticker.c {
  top: -47px;
  right: 30px;
  transform: rotate(0deg) !important;
}

.bh-sticker.d {
  bottom: -70px;
  left: -110px;
  transform: rotate(0deg) !important;
}

.bh-endpad {
  width: 0;
}

/* section.USER */
.user-section {
  display: flex;
  justify-content: center;
  background: #fff;
  padding: 150px 0;
}

.user-section .user-wrap .title {
  text-align: center;
  margin-bottom: 110px;
  font-size: 150px;
}

.user-section .user-wrap {
  position: relative;
}

.user-section .user-wrap .user-badge {
  transform: rotate(-17deg);
  margin-left: 130px;
  margin-bottom: 46px;
}

.user-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-svg {
  width: 160px;
  height: auto;
  overflow: visible;
  position: absolute;
  z-index: 3;
}

.user-svg--left {
  left: 3%;
  bottom: 45%;
}

.user-svg--right {
  right: 0;
  bottom: 240px;
  transform: scaleX(-1) scaleY(-1);
}

.user-line {
  fill: none;
  stroke: #000;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.user-arrow {
  position: absolute;
  opacity: 0;
  transform: translateY(6px);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  z-index: 4;
}

.user-arrow--left {
  left: 14px;
  top: 567px;
  rotate: 25deg;
}

.user-arrow--right {
  right: -7px;
  bottom: 262px;
  rotate: 20deg;
}

.user-arrow.is-visible {
  opacity: 1;
  transform: translateY(0);
}

.user-abs-text {
  position: absolute;
  transition:
    opacity 0.28s ease,
    transform 0.28s ease;
  font-size: 18px;
  color: #000;
  line-height: 1.35;
  white-space: nowrap;
  font-size: 40px;
  pointer-events: none;
  font-family: "GangwonEducationSaeum";
  opacity: 0;
  transform: translateY(6px);
  z-index: 5;
}

.user-abs-text.is-visible {
  opacity: 1;
  transform: translateY(0);
}

.user-abs-text--left {
  left: -40px;
  top: 53%;
}

.user-abs-text--right {
  right: -120px;
  bottom: 25%;
}

.animate {
  visibility: hidden;
}

.animate.user-motion {
  visibility: visible;
}

.bottom-text {
  font-size: 36px;
  font-family: "Pretendard", sans-serif;
  font-weight: 400;
  text-align: center;
  margin-top: 170px;
}

.bottom-text .blue {
  color: #336bec;
  font-weight: 500;
}

/* section.RECRUIT */
.recruit-section {
  background: #fff;
  padding: 150px 0 0;
  overflow: hidden;
  margin: 0 auto 150px;
}

.recruit-wrap {
  width: 100%;
  position: relative;
}

/* 상단 왼쪽 subtitle */
.recruit-section .recruit-wrap .subtitle {
  margin: 0 0 40px 0;
  padding-left: 160px; /* 느낌상 왼쪽 여백 */
  margin-bottom: 160px;
}

/* 가운데 스테이지 */
.recruit-stage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.recruit-paper {
  position: relative;
}

.recruit-paper-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* 카드 공통 */
.recruit-card {
  position: absolute;
  background: #fff;
  border: 4px solid #111;
  border-radius: 20px;
  padding: 20px 100px;
  font-size: 14px;
  white-space: nowrap;

  opacity: 1;
  z-index: 4;
  color: #336bec;
  font-weight: 600;
  font-size: 24px;
}

/* 사진 느낌 배치(필요하면 너가 픽셀만 조정) */
.recruit-card--1 {
  left: -300px;
  top: 77px;
}
.recruit-card--2 {
  right: -193px;
  top: 180px;
}
.recruit-card--3 {
  left: -120px;
  top: 420px;
}
.recruit-card--4 {
  left: 186px;
  top: 570px;
}
.recruit-card--5 {
  left: -226px;
  top: 849px;
}

/* 인사이트 */
.recruit-insight {
  position: absolute;
  left: 50%;
  bottom: 18%;
  transform: translateX(-50%);
  opacity: 1;
  z-index: 4;
}

.recruit-insight .tag {
  display: block;
  transform: rotate(-17deg);
  position: absolute;
  left: -40px;
  bottom: 60px;
}

.recruit-insight .text {
  font-size: 36px;
  white-space: nowrap;
}

/* 돋보기 (이미지) */
.recruit-magnifier {
  position: absolute;
  width: 100%;
  pointer-events: none;
  z-index: 6;
  left: 0;
  top: 0;

  transform: translate3d(0, 0, 0);
  transition: transform 420ms ease;
  will-change: transform;
}

/* 섹션 활성 중 따라다닐 때 */
.recruit-magnifier.is-following {
  transition: transform 90ms linear;
}

/* 구름(이미지 2개) */
.recruit-clouds {
  position: absolute;
  bottom: -8%;
  height: 1100px;
}

/* 공통 */
.recruit-cloud {
  position: absolute;
}
